---
layout: default
---

{% for post in paginator.posts %}
<section style="border-bottom: solid 1px #ccc;">
  <h2>
    <a href='{{ site.url }}{{ post.url }}' title='{{ post.title }}'>
      {{ post.title }}
    </a>
  </h2>
  
  <time datetime="{{ post.date }}"><strong><i>{{ post.date | date: "%-d/%m/%Y" }}</i></strong></time>
  

  <p>{{ post.excerpt | strip_html | truncate: 250 }}</p>
</section>
{% endfor %}

{% if paginator.previous_page %}
<a href='{{ site.url }}{{ paginator.previous_page_path }}'>Önceki</a>
{% endif %}

&mdash; {{ paginator.page }} / {{ paginator.total_pages }} &mdash;

{% if paginator.next_page %}
<a href='{{ site.url }}{{ paginator.next_page_path }}'>Sonraki</a>
{% endif %}

